/* global css */

body{
    margin: 0;
    padding: 0;
}
.border-light-opacity{
    border-bottom: 1px solid #ffffff7f;
}
.h-100vh{
    min-height: 100vh;
}
.--primary-bg{
    background-color: #1360af;
}
.--grey-bg{
    background-color: #d6dddd;
}
.--primary-text{
    color: #1360af;
}
.--text-light{
    color: #e0e9f3a3;
}
.border-primary{
    border-color: #1360af !important;
}
.btn-primary {
    color: #fff;
    background-color: #0060ab; 
    border-color: #0060ab;
}
.btn-primary:hover{
    color: #fff;
    background-color: #0060ab;
    border-color: #0060ab;
}
.white-space-nowrap{
    white-space: nowrap;
}
.custom-grid{
    display: grid;
    grid-template-columns: auto 1fr;
}
.side-bar,.main-content{
    height: calc(100vh - 71px);
}
.sidebar-header{
    position: relative;
}

.sidebar-sub-content:hover{
    background-color: rgb(58 53 53 / 46%);
}

.sidebar-sub-content .d-grid{
    grid-template-columns: 20px auto 20px;
}
.ellipsis{ 
    overflow: hidden;
    display: flex;
}
.ellipsis span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* slide-1 */
.bg-shape{
    right: 40%;
    z-index: -1;
}
/* slide-1 */

/* slide-3 */
.custom-table .table>:not(:last-child)>:last-child>*{
    border-bottom-color:  #dee2e6 !important;
}
.custom-table .table tr td, .custom-table .table tr th{
    text-align: left !important;
}
.custom-table .table tr td:first-child,.custom-table .table tr th:first-child,
.custom-table .table tr td:last-child,.custom-table .table tr th:last-child{
    text-align: center !important;
}
/* end slide-3 */

/* slide4 */
.w-75px{
    min-width: 75px;
}
/* end-4-slide */

/* slide8 */
.dropdown button{
    border: 1px solid #ced4da;
    background: #fff;
}
.dropdown button:hover{
    border-color: #ced4da;
}
.dropdown .btn-check:focus+.btn-light, .dropdown .btn-light:focus {
    border-color: #ced4da ;
    box-shadow: unset;
}
.dropdown-toggle::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 47%;
}
.dropdown-menu.show{
    inset: 0px 0px auto 0px !important;
}
.joint-shape:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 20px;
    background: #cacaca;
    right: -19px;
    top: 49%;
}

@media screen and (min-width: 1200px){
    .home-banner h1 {
        font-size:3.8rem !important;
        border-bottom: 4px solid #ddd;
    }
}